D
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title"></li>
        <li class="active">
          <a routerLink="/admin"
            ><i class="fe fe-home"></i> <span>Dashboard</span></a
          >
        </li>
        <!-- user -->
        <li class="submenu">
          <a routerLink="/admin/user"
            ><i class="fe fe-users"></i> <span> Users</span>
            <!-- <span class="menu-arrow"></span
          > -->
          </a>
          <!-- <ul style="display: none">
            <li><a routerLink="users.html">Users</a></li>
            <li><a routerLink="blocked-users.html">Blocked User</a></li>
            <li><a hrrouterLinkef="report-users.html">Report User</a></li>
          </ul> -->
        </li>
        <!-- product -->
        <li class="submenu">
          <a routerLink="/admin/product">
            <i class="fe fe-users"></i>
            <span>Product</span>

            <!-- <span class="menu-arrow"></span -->
          </a>
          <!-- <ul style="display: none">
            <li><a routerLink="users.html">Users</a></li>
            <li><a routerLink="blocked-users.html">Blocked User</a></li>
            <li><a hrrouterLinkef="report-users.html">Report User</a></li>
          </ul>
           -->
        </li>
      </ul>
    </div>
  </div>
</div>
