<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>register</h1>
            <p class="account-subtitle"></p>

            <form
              (submit)="onSignup()"
              name="signupFrom"
              [formGroup]="signupFrom"
            >
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  formControlName="name"
                  placeholder="Name"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  name="email"
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="password"
                  formControlName="password"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Submit
                </button>
              </div>
            </form>

            <div class="text-center forgotpass">
              <a routerLink="forgot-password.html">Forgot Password?</a>
              <a routerLink="/signin">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
