<div class="content container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Vertical Form</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/admin/user">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Edit User</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Edit User Form</h4>
        </div>
        <div class="card-body">
          <form (submit)="onUserEdit()" *ngIf="user">
            <div class="form-group">
              <label>User Name</label>
              <input
                type="text"
                class="form-control"
                name="user.name"
                [(ngModel)]="user.name"
              />
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <input
                type="text"
                class="form-control"
                name="user.phone"
                [(ngModel)]="user.phone"
                mask="(000) 000 0000"
              />
            </div>
            <div class="form-group">
              <label>Description Sort</label>
              <input
                type="email"
                class="form-control"
                name="user.email"
                [(ngModel)]="user.email"
              />
            </div>
            <div class="form-group">
              <label>Description Long</label>
              <input
                type="text"
                class="form-control"
                name="user.address"
                [(ngModel)]="user.address"
              />
            </div>

            <div class="text-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
